<% addScripts() %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="far fa-paper-plane fa-3x"></i></h1>
      <%- include ('partials/messages') %>
      <div class="alert alert-secondary fade show" role="alert">
        Login link has been sent to your email for verification;
        <span class="text-warning">expires in 10 minutes</span>
      </div>
    </div>
  </div>
</div>
